[package]
edition = "2018"
name = "hck"
version = "0.7.1"
authors = ["Seth Stadick <sstadick@gmail.com>"]
license = "Unlicense/MIT"
repository = "https://github.com/sstadick/hck"
description = "A sharp cut(1) clone."
documentation = "https://docs.rs/hck"
readme = "README.md"
categories = ["text-processing", "command-line-interface"]
keywords = ["text", "cli"]

[lib]
name = "hcklib"
path = "src/lib/mod.rs"

[[bin]]
name = "hck"
path = "src/main.rs"

[profile.release]
lto = "fat"
codegen-units = 1

[dependencies]
anyhow = "1.0.41"
bstr = "0.2.16"
clap = { version = "3.1", features = ["derive"] }
env_logger = "0.9.0"
flate2 = { version = "1.0", features = ["zlib-ng-compat"], default-features = false }
gzp = {version = "0.9.2", default-features = false, features = ["deflate_zlib_ng","libdeflate"]}
grep-cli = "0.1.6"
lazy_static = "1.4.0"
log = "0.4.14"
memmap = { package = "memmap2", version = "0.2.0" }
memchr = "2.4.0"
num_cpus = "1.13.0"
regex = "1.5.4"
ripline = "0.1"
termcolor = "1.1.2"
thiserror = "1.0.25"

[dev-dependencies]
tempfile = "3.2.0"
rstest = "0.10.0"

[build-dependencies]
built = {version ="0.5.1", features = ["git2"]}
