[package]
edition = "2018"
name = "hck"
version = "0.8.2"
authors = ["Seth Stadick <sstadick@gmail.com>"]
license = "Unlicense/MIT"
repository = "https://github.com/sstadick/hck"
description = "A sharp cut(1) clone."
documentation = "https://docs.rs/hck"
readme = "README.md"
categories = ["text-processing", "command-line-interface"]
keywords = ["text", "cli"]

[lib]
name = "hcklib"
path = "src/lib/mod.rs"

[[bin]]
name = "hck"
path = "src/main.rs"

[profile.release]
lto = "fat"
codegen-units = 1

[dependencies]
anyhow = "1.0.68"
bstr = "1.1.0"
clap = { version = "4.1.1", features = ["derive"] }
env_logger = "0.10.0"
flate2 = { version = "1.0.25", features = ["zlib-ng-compat"], default-features = false }
gzp = { version = "0.11.1", default-features = false, features = ["deflate_zlib_ng","libdeflate"] }
grep-cli = "0.1.7"
lazy_static = "1.4.0"
log = "0.4.17"
memmap = { package = "memmap2", version = "0.5.8" }
memchr = "2.5.0"
num_cpus = "1.15.0"
regex = "1.7.1"
ripline = "0.1.0"
termcolor = "1.2.0"
thiserror = "1.0.38"

[dev-dependencies]
tempfile = "3.3.0"
rstest = "0.16.0"

[build-dependencies]
built = { version = "0.5.2", features = ["git2"] }
