[package]
edition = "2018"
name = "hck"
version = "0.1.1-beta.2"
authors = ["Seth Stadick <sstadick@gmail.com>"]
license = "MIT"
repository = "https://github.com/sstadick/hck"
description = "A sharp cut(1) clone."
documentation = "https://docs.rs/hck"
readme = "README.md"
categories = ["text-processing", "command-line-interface"]
keywords = ["text", "cli"]

[profile.release]
lto = "fat"
codegen-units = 1

[dependencies]
anyhow = "1.0.41"
env = "0.0.0"
env_logger = "0.8.4"
grep-cli = "0.1.6"
lazy_static = "1.4.0"
log = "0.4.14"
regex = "1.5.4"
static_assertions = "1.1.0"
structopt = {version = "0.3.21", features = ["default"]}
termcolor = "1.1.2"
thiserror = "1.0.25"

[dev-dependencies]
tempfile = "3.2.0"
bstr = "0.2.16"

[build-dependencies]
built = {version ="0.5.1", features = ["git2"]}
