name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: hck
            asset_name: hck-linux-amd64
          - os: macos-latest
            artifact_name: hck
            asset_name: hck-macos-amd64
          - os: windows-latest
            artifact_name: hck.exe
            asset_name: hck-windows-amd64

    steps:
      - uses: actions/checkout@v2

      - name: Install LLVM Tools
        run: rustup component add llvm-tools-preview

      - name: Build
        shell: bash
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            # Windows MSVC does not yet support PGO
            # https://github.com/rust-lang/rust/issues/61002
            cargo build --release --locked
          else
            bash pgo.sh
          fi

      - name: Build archive
        shell: bash
        run: |
          staging="${{matrix.asset_name}}-src"
          mkdir -p "$staging"

          cp {README.md,UNLICENSE,LICENSE-MIT} "$staging/"
          cp {build.rs,Cargo.toml,Cargo.lock} "$staging/"
          cp {pgo.sh,pgo_local.sh} "${staging}/"
          cp -R ./src "./$staging/src"


          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            7z a "${staging}.zip" "$staging"
            echo "ASSET=${staging}.zip" >> $GITHUB_ENV
          else
            mkdir -p "${staging}/pgo-data"
            cp ./pgo-data/merged.profdata "./${staging}/pgo-data/merged.profdata"
            tar czf "${staging}.tar.gz" "${staging}"
            echo "ASSET=${staging}.tar.gz" >> $GITHUB_ENV
          fi

      - name: Create deb artifact
        shell: bash
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            cargo install cargo-deb
            RUSTFLAGS="-Cllvm-args=-pgo-warn-missing-function -Cprofile-use=$cwd/pgo-data/merged.profdata" cargo deb
            echo "DEB=./target/debian/hck*.deb"
          fi

      - name: Upload deb package
        uses: svenstaro/upload-release-action@v2
        if: "${{ matrix.os }}" = "ubuntu-latest"
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.DEB }}
          asset_name: ${{ env.DEB }}
          tag: ${{ github.ref }}

      - name: Upload src and pgo data to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.ASSET }}
          asset_name: ${{ env.ASSET }}
          tag: ${{ github.ref }}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}
